// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#products {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product {
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;

  h2 {
    margin-bottom: 0;
  }
}